<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leoybkim.walkingbuddy">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Facebook -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wbappicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/dan_googleMap_key" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DestinationActivity"
            android:label="@string/destination_act"
            android:parentActivityName=".LoginActivity">
        </activity>

        <activity
            android:name=".BuddyFoundActivity"
            android:label="@string/buddy_found_act"
            android:parentActivityName=".DestinationActivity">
        </activity>

    </application>

</manifest>